.puzzle_0 {
    background-image: url(../assets/images/puzzle/puzzle_element.svg);
}

.puzzle_1 {
    background-image: url(../assets/images/puzzle/puzzle_element-1.svg);
}

.puzzle_2 {
    background-image: url(../assets/images/puzzle/puzzle_element-2.svg);
}

.puzzle_3 {
    background-image: url(../assets/images/puzzle/puzzle_element-3.svg);
}

.puzzle_4 {
    background-image: url(../assets/images/puzzle/puzzle_element-4.svg);
}

.puzzle_5 {
    background-image: url(../assets/images/puzzle/puzzle_element-5.svg);
}

.puzzle_6 {
    background-image: url(../assets/images/puzzle/puzzle_element-6.svg);
}

.puzzle_7 {
    background-image: url(../assets/images/puzzle/puzzle_element-7.svg);
}

.puzzle_8 {
    background-image: url(../assets/images/puzzle/puzzle_element-8.svg);
}

.puzzle_9 {
    background-image: url(../assets/images/puzzle/puzzle_element-9.svg);
}

.puzzle_10 {
    background-image: url(../assets/images/puzzle/puzzle_element-10.svg);
}

.puzzle_11 {
    background-image: url(../assets/images/puzzle/puzzle_element-11.svg);
}

.puzzle_12 {
    background-image: url(../assets/images/puzzle/puzzle_element-12.svg);
}

.puzzle_13 {
    background-image: url(../assets/images/puzzle/puzzle_element-13.svg);
}

.puzzle_14 {
    background-image: url(../assets/images/puzzle/puzzle_element-14.svg);
}

.puzzle_15 {
    background-image: url(../assets/images/puzzle/puzzle_element-15.svg);
}

.puzzle_16 {
    background-image: url(../assets/images/puzzle/puzzle_element-16.svg);
}

.puzzle_17 {
    background-image: url(../assets/images/puzzle/puzzle_element-17.svg);
}

.puzzle_18 {
    background-image: url(../assets/images/puzzle/puzzle_element-18.svg);
}

.puzzle_19 {
    background-image: url(../assets/images/puzzle/puzzle_element-19.svg);
}

.puzzle_20 {
    background-image: url(../assets/images/puzzle/puzzle_element-2.svg);
}

.puzzle_21 {
    background-image: url(../assets/images/puzzle/puzzle_element-21.svg);
}

.puzzle_22 {
    background-image: url(../assets/images/puzzle/puzzle_element-22.svg);
}

.puzzle_23 {
    background-image: url(../assets/images/puzzle/puzzle_element-23.svg);
}

.puzzle_24 {
    background-image: url(../assets/images/puzzle/puzzle_element-24.svg);
}

.puzzle_25 {
    background-image: url(../assets/images/puzzle/puzzle_element-25.svg);
}

.puzzle_26 {
    background-image: url(../assets/images/puzzle/puzzle_element-26.svg);
}

.puzzle_27 {
    background-image: url(../assets/images/puzzle/puzzle_element-27.svg);
}

.puzzle_28 {
    background-image: url(../assets/images/puzzle/puzzle_element-28.svg);
}

.puzzle_29 {
    background-image: url(../assets/images/puzzle/puzzle_element-29.svg);
}

.puzzle_30 {
    background-image: url(../assets/images/puzzle/puzzle_element-30.svg);
}

.puzzle_31 {
    background-image: url(../assets/images/puzzle/puzzle_element-31.svg);
}

.puzzle_32 {
    background-image: url(../assets/images/puzzle/puzzle_element-32.svg);
}

.puzzle_33 {
    background-image: url(../assets/images/puzzle/puzzle_element-33.svg);
}

.puzzle_34 {
    background-image: url(../assets/images/puzzle/puzzle_element-34.svg);
}

.puzzle_35 {
    background-image: url(../assets/images/puzzle/puzzle_element-35.svg);
}

.puzzle_36 {
    background-image: url(../assets/images/puzzle/puzzle_element-36.svg);
}

.puzzle_37 {
    background-image: url(../assets/images/puzzle/puzzle_element-37.svg);
}

.puzzle_38 {
    background-image: url(../assets/images/puzzle/puzzle_element-38.svg);
}

.puzzle_39 {
    background-image: url(../assets/images/puzzle/puzzle_element-39.svg);
}

.puzzle_40 {
    background-image: url(../assets/images/puzzle/puzzle_element-40.svg);
}
.puzzle_41 {
    background-image: url(../assets/images/puzzle/puzzle_element-41.svg);
}


