// body {
//     overflow-x: hidden;
//   }
.parallax__info {
    position: fixed;
    z-index: 99;
    right: 20px;
    top: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.4;
}

#section1 {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	.bg-wrap {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
		background: linear-gradient(to bottom,#F8E4D9 0%,#F6E3D5 70%,#F1D0BF 100%);
		.bg {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #fff;
			z-index: 10;
			opacity: 1;
		}

	}
	.text-wrap {
		position: relative;
		z-index: 1000;
        left: -250px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		height: 100vh;
		// height: 120vh;
        width: 160%;
	}
}
.text-wrap > span {

	color: #fff;
	font-family: 'Grandiflora One', serif;
	// background-color: #000;
    background-image: url(../assets/images/Shapes.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    text-align: center;
    width: 17vw;
    height: 17vw;
	font-size: 3.2vw;
	line-height: 1;
	// border-radius: 100px;
	// padding: 1vw 4vw 2.3vw 4vw;
	padding: 6vw 2svw 4vw 2vw;
	display: inline-block;
	font-weight: bold;
	margin: -1.2vw;
    z-index: 1000;
}
.title-wrap {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	text-align: center;
	> div {
		font-size: 5vw;
		font-family: 'GmarketSans';
        font-weight: 700;
		text-transform: uppercase;
		background-color: #ccc;
		display: inline-block;
		padding: 1vw 5vw;
		border-radius: 10vw;
		color: #fff;
		margin: 10px;
	}
	.img {
		width: 9vw;
		position: absolute;
	}
	.t1 {
		background-color: #0044F3;
		margin-left: -10vw;
        transform: rotate(-5deg);
        z-index: 100;
        > .img {
            right: -9vw;
            top: 0;
            transform: scale(1.5);
        }
	}
	.t2 {
		background-color: #F32C00;
		margin-left: 10vw;
        z-index: -100;
        > .img {
            left: -9vw;
            top: 0;
            transform: scale(.9);
        }
	}
	.t3 {
		background-color: #4BF300;
		margin-left: -10vw;
        transform: rotate(5deg);
        z-index: 100;
        > .img {
            right: -9vw;
            top: 0;
            transform: scale(1.2);
        }
	}
    
}

@media (max-width:1400px) {

    .text-wrap > span {
        width: 20vw;
        height: 20vw;
        font-size: 4vw;
    }
    .title-wrap {

        > div {
            font-size: 7vw;

        }
    }
}
@media (max-width:900px) {
    #section1 {
        .text-wrap {
            // left: -250px;
        }
    }
    .text-wrap > span {
        width: 22vw;
        height: 22vw;
        font-size: 5vw;
    }
    .title-wrap {

        > div {
            font-size: 9vw;

        }
    }
}

//section01

.section02 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 9;
    .left {
        width: 50%;
        background-image: url(../assets/images/profile_02-min.png);
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: right bottom;
    }
    .right {
        width: 50%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding-left: 4%;
        > img {
            width: 50%;
            margin-bottom: 30px;
        }
        > p {
            width: 100%;
            font-family: 'IropkeBatang';
            white-space: pre-line;
            line-height: 1.5;
        }
    }
}
@media (max-width:1800px) {
    .section02 {
        .left {
            background-size: cover;
            background-position: center center;
        }
        .right {
            margin-right: 40px;
        }
    }
}
@media (max-width:600px) {
    .section02 {
        flex-direction: column;
        .left {
            background-size: cover;
            background-position: 20% center;

            width: 100%;
            height: 50vh;


        }
        .right {
            width: 100%;
            font-size: 2.7vw;
            > img {
                display: none;
            }
        }
    }
}

#section03 {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding: 0 15vw 0 38vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    // position: fixed;
    z-index: -99999;

    > div {
        background-color: #fff;
        width: 43.5vw;
        height: 33.3vw;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        position: relative;
        .section03_main_img {
            object-fit: cover;
            width: 21.5vw;
            height: 33.5vw;
        }
        p {
            display: inline-block;
            width: 407px;
            // height: 146px;
            margin-left: 20px;
            margin-bottom: -40px;
            font-size: 1rem;

        }
        .smail {
            position: absolute;
            width: 3.3vw;
            height: 3.3vw;
            margin: 5px;
            object-fit: cover;
            left: 0;
            bottom: 0;
        }
        .small_sign {
            position: absolute;
            width: 8vw;
            height: 5.5vw;
            object-fit: cover;
            left: -3.6vw;
            top: -2.8vw;
        }
    }
}
@media (max-width:1000px) {
    #section03 {

    
        > div {

            .section03_main_img {
                object-fit: cover;
                width: 203px;
                height: 320px;
            }
            p {
                // width: 407p
                padding: 3px;
                background-color: #ffffffc4;
                margin-left: -7vw;
    
            }
            .smail {
                display: none;
            }
            .small_sign {
                display: none;
            }
        }
    }
}

@media (max-width:700px) {
    #section03 {

    
        > div {
            background-color: #fff;
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            position: relative;
            .section03_main_img {
                object-fit: cover;

            }
            p {
                position: absolute;
                display: inline-block;
                width: 90%;
                height: 146px;
                margin-left: 20px;
                margin-bottom: -40px;
                font-size: 1rem;
    
            }
            .smail {
                position: absolute;
                width: 3.3vw;
                height: 3.3vw;
                margin: 5px;
                object-fit: cover;
                left: 0;
                bottom: 0;
            }
            .small_sign {
                position: absolute;
                width: 8vw;
                height: 5.5vw;
                object-fit: cover;
                left: -3.6vw;
                top: -2.8vw;
            }
        }
    }
}

#section04 {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    justify-content: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    > div {
        background-color: #fff;
        height: 33.5vw;
        width: 21.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        >div {
            position: absolute;
            object-fit: cover;
            width: 21.5vw;
            height: 33.5vw;
            overflow: hidden;
            .section04_main_img {
                position: absolute;
                object-fit: cover;
                width: 21.5vw;
                height: 33.5vw;
            }
        }
        .section04_main_title {
            position: absolute;
            font-size: 13vw;
            display: flex;
            .title_span {
                margin-right: 10vw;
            }
            :last-child {
                margin-right: 0;
            }
        }
    }
}
#section05 {
    background-image: url(../assets/images/section05-min.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    // background-color: #ffb5b5;
    height: 229vw;
    position: relative;
    padding: 6vw 0;
    object-fit: contain;
    > div {
        color: #fff;
        position: absolute;
        >div {
            overflow: hidden;
            > img {
                display: inline-block;
                // margin-bottom: 15px;

            }
        }
        h1 {
            font-size: 24px;
            margin-bottom: 25px;
        }
        p {
            font-size: 20px;
            margin-bottom: 25px;
            line-height: 1.5;
            width: 455px;
        }
        .view_button {
            font-size: 20px; 
            display: flex;
            align-items: flex-end;
            text-align: right;
            div {
                display: inline-block;
                border-bottom: 1px solid #fff;
                margin-right: 30px;
                a {
                    color: #fff;
                }
                > span {
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    > img {
                        width: 14px;
                        height: 14px;
                        &:hover {
                            fill:#9e6345
                        }
                    }
                }   
                &:hover {
                border-bottom: 1px solid #9e6345;
                }
                & > a:hover {
                    color:#9e6345
                }
                
            }
        }

    }
    .section05-1 {
        width: 30vw;
        height: 30vw;
        // background-color: #999;
        right: 19%;
        > .section05_img {
            width: 30vw;
            height: 15vw;
        }

    }
    .section05-2 {
        width: 30vw;
        height: 45vw;
        // background-color: #888;
        top: 46vw;
        left: 11%;
        > .section05_img {
            width: 25vw;
            height: 27.4vw;
        }
    }
    .section05-3 {
        width: 30vw;
        height: 47vw;
        // background-color: #777;
        top: 66vw;
        right: 3.3%;
        > .section05_img {
            width: 30vw;
            height: 33vw;
        }
    }
    .section05-4 {
        width: 30vw;
        height: 50vw;
        // background-color: #666;
        top: 130vw;
        right: 11%;
        > .section05_img {
            width: 30vw;
            height: 33vw;
        }
    }
    .section05-5 {
        width: 30vw;
        height: 30vw;
        // background-color: #555;
        left: 3.3%;
        // bottom: 3%;
        top: 180vw;
        > .section05_img {
            width: 30vw;
            height: 15vw;
            text-align: center;
        }
    }
}



@media (max-width:1200px) {
    #section05 {

        > div {

            >div {
                img {
                    margin-bottom: 10px;
                    width: 300px;
                    height: 200px;
                    object-fit: cover;
                }
            }
            h1 {
                margin-bottom: 6px;
            }
            p {
                width: 293px;
                font-size: 15px;
                margin-bottom: 6px;

            }
            .view_button {

                div {

                    a {
                        font-size: 12px; 
                    }
                    // span {
                    //     display: none;
                    //     img {
                    //         display: none;
                    //     }
                    // }
                }
    
            }
        }

    }
}

@media (max-width:900px) {
    #section05 {

        > div {
            position: absolute;
            >div {
                margin-bottom: 10px;

                img {
                    margin-bottom: 10px;
                }
            }
            h1 {
                margin-bottom: 6px;
                line-height: 1;
            }
            p {
                // width: 293px;
                // font-size: 15px;
                // margin-bottom: 6px;
                display: none;

            }
            .view_button {

                div {

                    a {
                        font-size: 12px; 
                    }
                    span {
                        display: none;
                        img {
                            display: none;
                        }
                    }
                }
    
            }
        }

        .section05-1 {
            right: 19%;
    
        }
        .section05-2 {
            top: 50vw;
            left: 11%;
        }
        .section05-3 {
            top: 76vw;
            right: 3.3%;
        }
        .section05-4 {
            top: 137vw;
            right: 11%;
        }
        .section05-5 {
            left: 3.3%;
            // bottom: 3%;
            top: 165vw;
        }
    }
}


#section06 {
    display: flex;
    width: 600vw; 
    height: 100vh;
    > div {
        width: 100vw;
        height: 100vh;
        z-index: 100;
    }
    .section06-00 {
        justify-content: center;
        overflow: hidden;
        display: flex;
        align-items: center;
        // background-color: #999;
        .section06_main {
            width: 60.5%;
            height: 34vw;
            // background-color: #ddd;
            text-align: center;
            > h1 {
                display: inline-block;
                font-size: 10vw;
                line-height: 1;
            }
            > img {
                width: 60vw;
                height: 12vw;
                object-fit: cover;
                margin-bottom: 39px;
            }
            > p {
                width: 80%;
                font-size: 1.3vw;
                margin: 0 auto;
            }
        }
    }
    > div:not(:first-child) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 112px 60px;
        color: #fff;
        h1 {
            font-size: 9vw;
            text-align: right;
            line-height: 0.7;
        }
        .row_desc {
            position: absolute;
            bottom: 112px;
            .view_button {
                font-size: 1vw; 
                display: flex;
                align-items: flex-end;
                text-align: right;
                margin-bottom: 40px;
                div {
                    display: inline-block;
                    border-bottom: 1px solid #fff;
                    margin-right: 30px;
                    a {
                        color: #fff;
                    }
                    span {
                        display: inline-block;
                        width: 14px;
                            height: 14px;
                        img {
                            width: 14px;
                            height: 14px;
                        }
                    }
                }
            }
            p {
                font-size: 1.1vw;
                width: 50%;
            }
        }

    }
    .section06-01 {
        // background-color: #222;
        background-image: url(../assets/images/section06-1-min.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        object-fit: cover;
        overflow: hidden;
    }
    .section06-02 {
        // background-color: #333;
        background-image: url(../assets/images/section06-2-min.png);
        background-repeat: no-repeat;
        background-position: 20% center;
        background-size: cover;
        object-fit: cover;
        overflow: hidden;
    }
    .section06-03 {
        // background-color: #444;
        background-image: url(../assets/images/section06-3-min.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        object-fit: cover;
        overflow: hidden;
    }
    .section06-04 {
        // background-color: #555;
        background-image: url(../assets/images/section06-4-min.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        object-fit: cover;
        overflow: hidden;
    }
    .section06-05 {
        // background-color: #666;
        background-image: url(../assets/images/section06-5-min.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        object-fit: cover;
        overflow: hidden;
    }
}
@media (max-width:1250px){
    #section06 {
        > div:not(:first-child) {
            
            h1 {
                font-size: 110px;
                
            }
            .row_desc {
                
                .view_button {
                    font-size: 15px; 
                    
                    
                }
                p {
                    font-size: 16px;
                    
                }
            }
    
        }
    }
}
@media (max-width:1000px){
    #section06 {
        > .section06-00 {
            > .section06_main {

                > p {
                    font-size: 16px;
                }
            }
        }
    }
}
@media (max-width:900px){
    #section06 {
        > div:not(:first-child) {
            .row_desc {
                > img {
                    width: 60vw;
                    height: 24vw;
                    object-fit: cover;
                    margin: 10px 0;
                }
                p {
                    width: 70%;
                    
                }
            }
    
        }
    }
}


#section07 {
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    .section07_inner {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // background-color: #66666649;
        top: 50px;
        > h2 {
            font-size: 6.5vw;
            line-height: 0.8;
            text-align: center;
            &:last-child {
                position: relative;
                top: -110px;
            }
        }
        .section07_img {
            width: 60%;
            height: 60%;
            position: relative;
            top: -60px;

            z-index: -1;
            >img {
                height: 100%;
                width: 100%;    
                object-fit: cover;
            }
        }
    }
}
@media (max-width:1000px){
    #section07 {
        .section07_inner {
            >h2 {
                font-size: 60px;
                &:last-child {
                    position: relative;
                    top: -70px;
                }
            }
            .section07_img {
                width: 200px;
                height: 200px;
                position: relative;
                top: -30px;
    
                z-index: -1;
                >img {
                    height: 100%;
                    width: 100%;    
                    object-fit: cover;
                }
            }
        }
    }
}

#footer {
    width: 100vw;
    height: 300px;
    // background-color: #ddd;
    display: flex;
    > .left {
        width: 40%;
        height: 300px;
        background-color: #ad704f;
        color: #fff;
        padding: 33px 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .footer_profile {
            > h1 {
                font-size: 48px;
            }
            > p {
                font-size: 15px;
            }
        }
        .footer_desc {

            p {
                font-size: 15px;
            }
        }

    }
    > .right {
        width: 60%;
        height: 300px;
        // background-image: url(../assets/images/footer.png);
        // background-repeat: no-repeat;
        // background-size: contain;
        background-color: #F8E4D9;
        display: flex;
        justify-content: space-between;

        .right01 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        padding: 26px 30px;

            > .footer_sign {
                width: 118px;
                height: 84px;
            }
            >.footer_sns {
                margin-left: 18px;
                font-size: 20px;
            }
        }
        .right02 {
            height: 300px;
            width: 413px;
            > img {
                height: 100%;
                width: 100%;
                transform: scaleX(-1);
                object-fit: cover;
                position: relative;
                
            }
        }
    }
}
@media (max-width:800px) {
    #footer {
        > .left {
        padding: 33px 30px;
            .footer_profile {
                > h1 {
                    font-size: 25px;
                }
                > p {
                    display: none;
                }
            }
            .footer_desc {
    
                p {
                    font-size: 15px;
                    &:first-child {
                        margin-bottom: 15px;
                    }
                }
            }
    
        }
        > .right {
   
            .right01 {
                display: none;
            }
        }
    }
}





















