.parallax__info {
    position: fixed;
    right: 20px;
    top: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.4;
}

#section01 {
    width: 100%;
    height: 100vh;
    display: none;
    // background-color: #000;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    .text_wrap {
        text-align: center;
        margin: 2vw 5vw ;

        > span {
            display: inline-block;
            font-size: 2.5vw;
            text-transform: uppercase;
            background-color: #000;
            color: #fff;
            padding: 1vw;
            font-weight: bold;
            border-radius: 50vw;
            margin: 1vw;
        }
    }
    .img_wrap {
        position: absolute;
        left: 20vw;
        top: auto;
        // margin: 13vw 20vw;
        width: 50vw;
        height: 30vw;
        padding: 1.5vw;

        > span {
            display: inline-block;
            font-size: 5.5vw;
            text-transform: uppercase;
            border-radius: 2vw;
            padding: 0.2vw 6vw;
            color: #fff;
            font-weight: bold;
            display: none;
            
            > img {
                position: absolute;
                display: none;
            } 
            .i_img01 {
                left: 40vw;
                top: -2vw;
                transform: rotate(15deg);
                height: 18vw;
                width: 18vw;
            }
            .i_img02 {
                left: -15vw;
                top: -5vw;
                height: 12vw;
                width: 12vw;
            }
            .i_img03 {
                left: 42vw;
                top: -2.5vw;
                height: 12vw;
                width: 12vw;
            }
        }
        .i1 {
            background-color: #EE24CD;
            transform: rotate(-15deg);

        }
        .i2 {
            color: #000;
            border-radius: 10vw;
            background-color: #19FE03;
            position: relative;
            width: 48vw;
            margin-left: 10vw;
            z-index: 99;
        }
        .i3 {
            background-color: #0033FF;
            transform: rotate(6.16deg);
            position: relative;
        }
    }
}
#section02 {
    width: 100%;
    height: 100vh;
    // background-color: #F8E4D9;
    background:linear-gradient(to bottom, #F8E4D9 0%, #F6E3D5 70%,#F1D0BF 100%);
    overflow: hidden;
    display: flex;
    align-items: center;

    .left {
        height: 100vh;
        width: 50vw;
        object-fit: cover;
    }
    .right {
        // background-color: #fff;
        height: 33.5vw;
        width: 30vw;
        margin: 0 7vw 0 3.9vw;
        display: flex;
        flex-direction: column;
        // opacity: 0;

        .sign {
            height: 57vw;
            width: 31vw;
            position: relative;
            z-index: 9999;
        }
        .section02_desc {
            margin-top: 1vw;
            padding: 0 2.5vw;
            > p {
                font-size: 1rem;
                line-height: 1.5;
            }
            
        }
    }
}
#section03 {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding: 0 15vw 0 38vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    // position: fixed;
    z-index: -99999;

    > div {
        background-color: #fff;
        width: 43.5vw;
        height: 33.3vw;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        position: relative;
        .section03_main_img {
            object-fit: cover;
            width: 21.5vw;
            height: 33.5vw;
        }
        p {
            display: inline-block;
            width: 407px;
            height: 146px;
            margin-left: 20px;
            margin-bottom: -40px;
            font-size: 1rem;
        }
        .smail {
            position: absolute;
            width: 3.3vw;
            height: 3.3vw;
            margin: 5px;
            object-fit: cover;
            left: 0;
            bottom: 0;
        }
        .small_sign {
            position: absolute;
            width: 8vw;
            height: 5.5vw;
            object-fit: cover;
            left: -3.6vw;
            top: -2.8vw;
            
        }
    }

}
#section04 {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    justify-content: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    > div {
        background-color: #fff;
        height: 33.5vw;
        width: 21.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        >div {
            position: absolute;
            object-fit: cover;
            width: 21.5vw;
            height: 33.5vw;
            overflow: hidden;
            .section04_main_img {
                position: absolute;
                object-fit: cover;
                width: 21.5vw;
                height: 33.5vw;
            }
        }
        .section04_main_title {
            position: absolute;
            font-size: 13vw;
            display: flex;
            .title_span {
                margin-right: 10vw;
            }
            :last-child {
                margin-right: 0;
            }
        }
    }
}
#section05 {
    background-image: url(../assets/images/section05-min.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    // background-color: #ffb5b5;
    height: 229vw;
    position: relative;
    padding: 120px 0;
    object-fit: contain;
    > div {
        color: #fff;
        position: absolute;
        >div {
            img {
                margin-bottom: 15px;
            }
        }
        h1 {
            font-size: 1.2vw;
            margin-bottom: 25px;
        }
        p {
            font-size: 20px;
            margin-bottom: 25px;
            line-height: 1.5;
            width: 455px;
        }
        .view_button {
            font-size: 20px; 
            display: flex;
            align-items: flex-end;
            text-align: right;
            div {
                display: inline-block;
                border-bottom: 1px solid #fff;
                margin-right: 30px;
                a {
                    color: #fff;
                }
                span {
                    display: inline-block;
                    width: 14px;
                        height: 14px;
                    img {
                        width: 14px;
                        height: 14px;
                    }
                }
            }

        }
    }
    .section05-1 {
        width: 30vw;
        height: 30vw;
        // background-color: #999;
        right: 19%;

    }
    .section05-2 {
        width: 30vw;
        height: 30vw;
        // background-color: #888;
        top: 46vw;
        left: 11%;
    }
    .section05-3 {
        width: 30vw;
        height: 30vw;
        // background-color: #777;
        top: 66vw;
        right: 3.3%;
    }
    .section05-4 {
        width: 30vw;
        height: 30vw;
        // background-color: #666;
        top: 130vw;
        right: 11%;
    }
    .section05-5 {
        width: 30vw;
        height: 30vw;
        // background-color: #555;
        left: 3.3%;
        // bottom: 3%;
        top: 190vw;
    }
}

#section06 {
    display: flex;
    width: 600vw;
    height: 100vh;
    .section06-00 {
        width: 100vw;
        height: 100vh;
        justify-content: center;
        overflow: hidden;
        display: flex;
        align-items: center;
        // background-color: #999;
        .section06_main {
            width: 60.5%;
            height: 34vw;
            // background-color: #ddd;
            text-align: center;
            > h1 {
                display: inline-block;
                font-size: 10vw;
                line-height: 1;
            }
            > img {
                width: 60vw;
                height: 12vw;
                object-fit: cover;
                margin-bottom: 39px;
            }
            > p {
                width: 80%;
                font-size: 1.6vw;
                margin: 0 auto;
            }
        }
    }
    > div:not(:first-child) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 112px 60px;
        color: #fff;
        h1 {
            font-size: 9vw;
            text-align: right;
            line-height: 0.7;
        }
        .row_desc {
            
            .view_button {
                font-size: 1vw; 
                display: flex;
                align-items: flex-end;
                text-align: right;
                margin-bottom: 40px;
                div {
                    display: inline-block;
                    border-bottom: 1px solid #fff;
                    margin-right: 30px;
                    a {
                        color: #fff;
                    }
                    span {
                        display: inline-block;
                        width: 14px;
                            height: 14px;
                        img {
                            width: 14px;
                            height: 14px;
                        }
                    }
                }
            }
            p {
                font-size: 1.1vw;
                width: 25%;
            }
        }

    }
    .section06-01 {
        width: 100vw;
        height: 100vh;
        // background-color: #222;
        background-image: url(../assets/images/section06-1-min.png);
        background-repeat: no-repeat;
        background-position: center center;
        object-fit: cover;
    }
    .section06-02 {
        width: 100vw;
        height: 100vh;
        // background-color: #333;
        background-image: url(../assets/images/section06-2-min.png);
        background-repeat: no-repeat;
        background-position: 20% center;
        object-fit: cover;
    }
    .section06-03 {
        width: 100vw;
        height: 100vh;
        // background-color: #444;
        background-image: url(../assets/images/section06-3-min.png);
        background-repeat: no-repeat;
        object-fit: cover;
    }
    .section06-04 {
        width: 100vw;
        height: 100vh;
        // background-color: #555;
        background-image: url(../assets/images/section06-4-min.png);
        background-repeat: no-repeat;
        background-position: center center;
        object-fit: cover;
    }
    .section06-05 {
        width: 100vw;
        height: 100vh;
        // background-color: #666;
        background-image: url(../assets/images/section06-5-min.png);
        background-repeat: no-repeat;
        background-position: center center;
        object-fit: cover;
    }
}
@media (max-width:1250px){
    #section06 {
        > div:not(:first-child) {
            
            h1 {
                font-size: 110px;
                
            }
            .row_desc {
                
                .view_button {
                    font-size: 15px; 
                    
                    
                }
                p {
                    font-size: 16px;
                    
                }
            }
    
        }
    }
}
@media (max-width:1000px){
    #section06 {
        > .section06-00 {
            > .section06_main {
                > p {
                    font-size: 16px;
                }
            }
        }
    }
}
@media (max-width:900px){
    #section06 {
        > div:not(:first-child) {
            .row_desc {
                
                p {
                    width: 70%;
                    
                }
            }
    
        }
    }
}

#section07 {
    width: 100%;
    height: 100vh;
    padding: 100px;
    .section07_inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > h2 {
            font-size: 6.5vw;
            line-height: 0.8;
            text-align: center;
            &:last-child {
                position: relative;
                top: -110px;
            }
        }
        .section07_img {
            width: 25%;
            height: 25%;
            position: relative;
            top: -60px;

            z-index: -1;
            >img {
                height: 100%;
                width: 100%;    
                object-fit: cover;
            }
        }
    }
}
@media (max-width:1000px){
    #section07 {
        .section07_inner {
            >h2 {
                font-size: 60px;
                &:last-child {
                    position: relative;
                    top: -70px;
                }
            }
            .section07_img {
                width: 200px;
                height: 200px;
                position: relative;
                top: -30px;
    
                z-index: -1;
                >img {
                    height: 100%;
                    width: 100%;    
                    object-fit: cover;
                }
            }
        }
    }
}

#footer {
    width: 100vw;
    height: 300px;
    // background-color: #ddd;
    display: flex;
    > .left {
        width: 40%;
        height: 300px;
        background-color: #ad704f;
        color: #fff;
        padding: 33px 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .footer_profile {
            > h1 {
                font-size: 48px;
            }
            > p {
                font-size: 15px;
            }
        }
        .footer_desc {

            p {
                font-size: 15px;
            }
        }

    }
    > .right {
        width: 60%;
        height: 300px;
        // background-image: url(../assets/images/footer.png);
        // background-repeat: no-repeat;
        // background-size: contain;
        background-color: #F8E4D9;
        display: flex;
        justify-content: space-between;

        .right01 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        padding: 26px 30px;

            > .footer_sign {
                width: 118px;
                height: 84px;
            }
            >.footer_sns {
                margin-left: 18px;
                font-size: 20px;
            }
        }
        .right02 {
            height: 300px;
            width: 413px;
            > img {
                height: 100%;
                width: 100%;
                transform: scaleX(-1);
                object-fit: cover;
                position: relative;
                
            }
        }
    }
}
@media (max-width:800px) {
    #footer {
        > .right {
   
            .right01 {
                display: none;
            }
        }
    }
}













