.parallax__info {
    position: fixed;
    left: 20px;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.4;
}

#section01 {
    width: 100%;
    height: 100vh;
    display: none;
    // background-color: #000;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    .text_wrap {
        text-align: center;
        margin: 2vw 5vw ;

        > span {
            display: inline-block;
            font-size: 2.5vw;
            text-transform: uppercase;
            background-color: #000;
            color: #fff;
            padding: 1vw;
            font-weight: bold;
            border-radius: 50vw;
            margin: 1vw;
        }
    }
    .img_wrap {
        position: absolute;
        left: 20vw;
        top: auto;
        // margin: 13vw 20vw;
        width: 50vw;
        height: 30vw;
        padding: 1.5vw;

        > span {
            display: inline-block;
            font-size: 5.5vw;
            text-transform: uppercase;
            border-radius: 2vw;
            padding: 0.2vw 6vw;
            color: #fff;
            font-weight: bold;
            display: none;
            
            > img {
                position: absolute;
                display: none;
            } 
            .i_img01 {
                left: 40vw;
                top: -2vw;
                transform: rotate(15deg);
                height: 18vw;
                width: 18vw;
            }
            .i_img02 {
                left: -15vw;
                top: -5vw;
                height: 12vw;
                width: 12vw;
            }
            .i_img03 {
                left: 42vw;
                top: -2.5vw;
                height: 12vw;
                width: 12vw;
            }
        }
        .i1 {
            background-color: #EE24CD;
            transform: rotate(-15deg);

        }
        .i2 {
            color: #000;
            border-radius: 10vw;
            background-color: #19FE03;
            position: relative;
            width: 48vw;
            margin-left: 10vw;
            z-index: 99;
        }
        .i3 {
            background-color: #0033FF;
            transform: rotate(6.16deg);
            position: relative;
        }
    }
}
#section02 {
    width: 100%;
    height: 100vh;
    // background-color: #F8E4D9;
    background:linear-gradient(to bottom, #F8E4D9 0%, #F6E3D5 70%,#F1D0BF 100%);
    overflow: hidden;
    display: flex;
    align-items: center;

    .left {
        height: 100vh;
        width: 50vw;
        object-fit: cover;
    }
    .right {
        // background-color: #fff;
        height: 33.5vw;
        width: 30vw;
        margin: 0 7vw 0 3.9vw;
        display: flex;
        flex-direction: column;
        // opacity: 0;

        .sign {
            height: 57vw;
            width: 31vw;
            position: relative;
            z-index: 9999;
        }
        .section02_desc {
            margin-top: 1vw;
            padding: 0 2.5vw;
            > p {
                font-size: 1rem;
                line-height: 1.5;
            }
            
        }
    }
}
#section03 {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding: 0 15vw 0 38vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    // position: fixed;
    z-index: -99999;

    > div {
        background-color: #fff;
        width: 43.5vw;
        height: 33.3vw;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        position: relative;
        .section03_main_img {
            object-fit: cover;
            width: 21.5vw;
            height: 33.5vw;
        }
        p {
            display: inline-block;
            width: 407px;
            height: 146px;
            margin-left: 20px;
            margin-bottom: -40px;
            font-size: 1rem;
        }
        .smail {
            position: absolute;
            width: 3.3vw;
            height: 3.3vw;
            margin: 5px;
            object-fit: cover;
            left: 0;
            bottom: 0;
        }
        .small_sign {
            position: absolute;
            width: 8vw;
            height: 5.5vw;
            object-fit: cover;
            left: -3.6vw;
            top: -2.8vw;
            
        }
    }

}
#section04 {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    justify-content: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    > div {
        background-color: #fff;
        height: 33.5vw;
        width: 21.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        >div {
            position: absolute;
            object-fit: cover;
            width: 21.5vw;
            height: 33.5vw;
            overflow: hidden;
            .section04_main_img {
                position: absolute;
                object-fit: cover;
                width: 21.5vw;
                height: 33.5vw;
            }
        }
        .section04_main_title {
            position: absolute;
            font-size: 13vw;
            display: flex;
            .title_span {
                margin-right: 10vw;
            }
            :last-child {
                margin-right: 0;
            }
        }
    }
}
#section05 {
    background-image: url(./assets/images/section05.png);
    width: 100vw;
    // background-color: #ffb5b5;
    height: 4397px;
    position: relative;
    padding: 120px 0;
    position: relative;
    div {
        color: #fff;
        img {
            margin-bottom: 15px;
        }
        h1 {
            
            font-size: 32px;
            margin-bottom: 25px;
        }
        p {
            font-size: 20px;
            margin-bottom: 25px;
            line-height: 1.5;
            width: 455px;

        }
        .view_button {
            font-size: 20px; 
            div {
                display: inline-block;
                border-bottom: 1px solid #fff;
                margin-right: 30px;
                a {
                    color: #fff;
                }
                span {
                    display: inline-block;
                    width: 14px;
                    height: 14px;


                }
            }

        }
    }
    .section05-1 {
        width: 771px;
        height: 653px;
        // background-color: #999;
        position: absolute;
        right: 363px;

    }
    .section05-2 {
        width: 455px;
        height: 848px;
        // background-color: #888;
        position: absolute;
        top: 883px;
        left: 212px;
    }
    .section05-3 {
        width: 590px;
        height: 904px;
        // background-color: #777;
        position: absolute;
        top: 1258px;
        right: 60px;
    }
    .section05-4 {
        width: 629px;
        height: 1011px;
        // background-color: #666;
        position: absolute;
        bottom: 864px;
        right: 212px;
    }
    .section05-5 {
        width: 659px;
        height: 601px;
        // background-color: #555;
        position: absolute;
        left: 60px;
        bottom: 130px;
    }
}

@media (max-width:1000px) {
    #section05 {
        po
        > div {
            position: relative;
        }
    }
}



